@model IEnumerable<Demo.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">List of orders</h1>

<p>
    @Html.ActionLink("List of phones", "Index", "Phone")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Phone Name
                @*@Html.DisplayNameFor(model => model.Phone.Name)*@
            </th>
            <th>
                User Name
                @*@Html.DisplayNameFor(model => model.User.Name)*@
            </th>
            <th>
                User Surname
                @*@Html.DisplayNameFor(model => model.User.Surname)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.ActionLink("Create new order", "Create", "Order")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
